################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
az204mediashareapp/obj/*    
az204mediashareapp/bin/*
az204mediashareapp/bin/Debug/*
az204mediashareapp/bin/Release/*
az204mediashareapp/obj/Debug/*
az204mediashareapp/obj/Release/*
az204mediashareapp/Properties/PublishProfiles/*
imageprocessor/bin/*    
imageprocessor/bin/Debug/*
imageprocessor/bin/Release/*
imageprocessor/obj/*
imageprocessor/obj/Debug/*
imageprocessor/obj/Release/*
/az204mediashareapp/Properties/serviceDependencies.json
/az204mediashareapp/Properties/PublishProfiles/az204containerreg1.pubxml
/az204mediashareapp/Properties/PublishProfiles/az204containerreg11.pubxml
/az204mediashareapp/Properties/serviceDependencies.local.json
/az204mediashareapp/az204mediashareapp.zip
/imageprocessor/obj/Debug/net8.0/ImageProcessor.assets.cache
