<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0a73a1b2-97b2-488c-8792-e63527806bf4/resourceGroups/az204RG/providers/Microsoft.ContainerRegistry/registries/az204containerreg1</ResourceId>
    <ResourceName>az204containerreg1</ResourceName>
    <ResourceGroup>az204RG</ResourceGroup>
    <Subscription>Azure subscription Basic</Subscription>
    <RegistryUrl>https://az204containerreg1.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bd06289b-5e79-4c66-8c65-82af8b91d133</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>